html {
  height: 100%;
}

body {
  margin: 0px;
  height: 100%;
}

div#root {
  height: 100%;
}

table {
  border-collapse: collapse;
  position: relative;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  position: sticky;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
